{% extends base_template %}

{% block title %}Alert{% endblock %}

{% block page_tabs %}
<ul id="page-tabs">
	<li class="page"><a href="/ubuzima">Reports</a></li>
	<li class="page active"><a href="/ubuzima/alerts">Alerts</a></li>
</ul>
{% endblock %}

{% block content %}
<h1>{{alert.name}}</h1>
<a href="/admin/ubuzima/alert/{{alert.pk}}">Edit</a><br/>

<h2>Triggers</h2>
{% for trigger in alert.triggers.all %}
<h4>{{trigger.key}} - {{trigger.description}}</h4>
{% endfor %}

<h2>Actions</h2>
{% for action in alert.actions.all %}
<h4>{{action.recipient}} - <i>{{action.message}}</i></h4>
{% endfor %}

{% endblock %}